<%- include('partials/header.ejs') %>
    
    <h1>Accésoires</h1>

    <ul class="axe">
        <% for(const accessoire of accessoires) {%>
            <li class="axes"> <a href="/accessDetails/<%=accessoire.id%>"> <%= accessoire.nom %></a></li>
        <% } %>
    </ul>

<%- include('partials/footer.ejs') %>