<%- include('partials/header.ejs') %>
    
    <h1>Accésoires</h1>

    <ul class="fam">
        <% for(const accessoire of accessoires) {%>
            <li class="fams"> <a href=""></a> <%= femm. %></li>
        <% } %>
    </ul>

<%- include('partials/footer.ejs') %>