<%- include('partials/header.ejs') %>
    <h1>Boutique en Ligne</h1>

    <h3>Bienvenue dans notre boutique ! Découvrez notre sélection exclusive de lunettes et montres alliant style et qualité. 
        Trouvez la pièce parfaite pour compléter votre look et profitez d'une expérience d'achat agréable. Bonne visite !</h3>

<%- include('partials/footer.ejs') %>