<%- include('partials/header.ejs') %>
    
    <h1>Vêtements pour femmes</h1>

<ul class="fam">
    <% for(const femm of femmes) {%>
        <li class="fams"> <%= femm. %></li>
    <% } %>
</ul>


<%- include('partials/footer.ejs') %>