<%- include('partials/header.ejs') %>
    
    <h1>Vêtements pour femmes</h1>

    <ul class="axe">
        <% for(const femme of femmes) {%>
            <li class="axes"> <a href="/fmDetails/<%=femme.id%>"> <%= femme.nom %></a></li>
        <% } %>
    </ul>


<%- include('partials/footer.ejs') %>