<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Document</title>
</head>
<body>
    
  <header>
    <nav>
        <ul>
            <li class=" "><a href=" /">Accueil</a></li>
            <li class=" "><a href="/femmesController">Femmes</a><a href=""></a></li>
            <li class=" "><a href="/hommesController ">Hommes</a></a></li>
            <li class=" "><a href="/accessoireController ">Accessoires</a></li>
    </nav>
 </header> 