<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Document</title>
</head>
<body>
    
<h1>Vetement pour Hommes</h1>

<ul>
    <ol>
        <li>Pantalon</li>
        <li>Chemise</li>
        <li>Costume</li>
        <li>Cravatte</li>
        <li>Ceinture</li>
    </ol>
</ul>

<h1>Vetement pour Femmes</h1>

<ul>
    <ol>
        <li>Robe</li>
        <li>Jupe</li>
        <li>Décolté</li>
        <li>Foulard</li>
        <li>Sac à main</li>
    </ol>
</ul>